body{
    background: whitesmoke;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.ad{
    background-color: #35654d;
    border:5px solid #A3BC71;
    text-align: center;
}
.spn{
    border: 2px solid #A3BC71;
    padding: 5px 10px;
    background: brown;
}